<section class="blurb">
{{#get "posts" slug="about" include="post" as |post|}}
{{#post}}
<h2>{{title}}</h2>
<p>{{exerpt}}</p>
<ul class="actions">
<li>{{#link href=(url) class="button"}}Learn More{{/link}}</li>
</ul>
{{/post}}
{{/get}}
</section>
