<section id="menu">

  <!-- Search -->
  <section>
    {{> search }}
  </section>

  <!-- Links -->
  <section>
    {{navigation type="secondary"}}
  </section>

  <!-- Actions -->
  <section>
    <ul class="actions stacked">
      <li><a href="{{@site.url}}/login/" class="button large fit">Log In</a></li>
      <li><a href="{{@site.url}}/rss/" class="button large fit">Subscribe</a></li>
    </ul>
  </section>

</section>
