<ul class="actions pagination">
    <li><a href="{{page_url prev}}" class="{{#if prev}}disabled{{/if}} button large previous">Previous Page</a></li>
    {{!-- <li class="page-number">Page {{page}} of {{pages}}</li> --}}
    <li><a href="{{page_url next}}" class="{{#if next}}disabled{{/if}}button large next">Next Page</a></li>
</ul>
