<section id="sidebar">

<!-- Intro -->
{{> intro }}

<!-- Medium Post List -->
{{> medium-post-list }}

<!-- Mini Post List -->
{{> mini-post-list }}

<!-- About -->
{{> about }}

<!-- Footer -->
{{> footer }}

</section>
